body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #7d8fcc, #4a5f55);
    text-align: center;
    margin-top: 100px;
    color: white;
}

h2, h1 {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin: 8px;
    width: 200px;
    border: none;
    border-radius: 20px;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: S#466468;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: #46607f;
    transform: scale(1.05);
}